h1 {
    text-align: center;
    color: rgb(190, 7, 7);
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 4000px;
   
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(240, 216, 185);
    text-align: center;
    border-radius: 60px;
    color: darkgoldenrod;
}

body {
    margin: 0 auto;
    padding: 0 30px 30px 30px;
    border: 20px solid rgb(0, 0, 0);
    background-color: rgb(82, 141, 141);
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
